{% extends "base.html" %}
{% block content %}
    <h1>Editar Tarefa</h1>
    <form method="POST" action="{{ url_for('editar_tarefa', project_id=project_id, task_id=task.id) }}">
        <label for="title">Título:</label><br>
        <input type="text" name="title" value="{{ task.title }}" required><br>
        <label for="description">Descrição:</label><br>
        <input type="text" name="description" value="{{ task.description }}" required><br>
        <label for="status">Status:</label><br>
        <select name="status" required>
            <option value="Pendente" {% if task.status == 'Pendente' %}selected{% endif %}>Pendente</option>
            <option value="Em andamento" {% if task.status == 'Em andamento' %}selected{% endif %}>Em andamento</option>
            <option value="Concluída" {% if task.status == 'Concluída' %}selected{% endif %}>Concluída</option>
        </select><br>
        <button type="submit" class="button">Salvar</button>
        <a href="{{ url_for('ver_projeto', project_id=project_id) }}"><button type="button" class="button">Cancelar</button></a>
    </form>
{% endblock %}