{# Extende o template base.html para herdar sua estrutura e estilos #}
{% extends "base.html" %}
{# Define o bloco de conteúdo que será inserido no template base #}
{% block content %}
    {# Título da página para adicionar uma nova tarefa #}
    <h1>Nova Tarefa</h1>
    {# Formulário para criar uma nova tarefa, com ação apontando para a rota nova_tarefa e passando o ID do projeto #}
    <form method="POST" action="{{ url_for('nova_tarefa', project_id=project_id) }}">
        {# Rótulo para o campo de título #}
        <label for="title">Título:</label><br>
        {# Campo de texto para o título da tarefa, marcado como obrigatório #}
        <input type="text" name="title" required><br>
        {# Rótulo para o campo de descrição #}
        <label for="description">Descrição:</label><br>
        {# Campo de texto para a descrição da tarefa, marcado como obrigatório #}
        <input type="text" name="description" required><br>
        {# Rótulo para o campo de status #}
        <label for="status">Status:</label><br>
        {# Menu suspenso para selecionar o status da tarefa, com opções predefinidas e marcado como obrigatório #}
        <select name="status" required>
            <option value="Pendente">Pendente</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Concluída">Concluída</option>
        </select><br>
        {# Botão de envio do formulário para adicionar a nova tarefa #}
        <button type="submit" class="button">Adicionar</button>
        {# Link com botão para cancelar e voltar à página de visualização do projeto, sem submeter o formulário #}
        <a href="{{ url_for('ver_projeto', project_id=project_id) }}"><button type="button" class="button">Cancelar</button></a>
    </form>
{% endblock %}